Hai!..<%= @name %>  

"<%= @sname %>" sent you an Invitation from Seasoned Adventurer to Register in the website

Click on the below URL to visit the Registration page:

URL: http://www.seasonedadventurer.com/registration

"<%= @sname %>" Has Left Few words about you...

<%= @comment %>