Hai!..  <%= @tname %>

<%= @fname %> sent you a friend request on Seasoned Aventurer to Add to his Network list

Click on the below URL to Accept the Request:

URL: http://www.seasonedadventurer.com/